/* Base styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

ul {
  margin: 0;
  padding: 0;
}

b {
  font-weight: bold;
}

/* App layout */
#app-body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#react-root {
  width: 100%;
  height: 100%;
}

#taskpane-root { 
  padding: 12px; 
}

/* Welcome screen styles */
.ms-welcome__header {
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ms-welcome__main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1 0 0;
  padding: 10px 20px;

  > h2 {
    width: 100%;
    text-align: center;
  }
}

.ms-welcome__features {
  list-style-type: none;
  margin-top: 20px;

  &.ms-List .ms-ListItem {
    padding-bottom: 20px;
    display: flex;

    > .ms-Icon {
      margin-right: 10px;
    }
  }
}

.ms-welcome__action.ms-Button--hero {
  margin-top: 30px;
}

/* Button styles */
.ms-Button.ms-Button--hero {
  .ms-Button-label {
    color: #0078d7;
  }

  &:hover .ms-Button-label,
  &:focus .ms-Button-label {
    color: #005a9e;
    cursor: pointer;
  }
}

/* Error fallback styles */
.ms-welcome__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}